---
// import Layout
import Layout from "../../../layouts/Layout.astro";
// import components
import LogosGrid from "../../../components/pages/products/LogosGrid.astro";
import Slogan from "../../../components/utils/Slogan.astro";
// import languages
import { useTranslations } from "../../../i18n/utils.ts";
const currentLang = Astro.currentLocale;
const tr = useTranslations(currentLang);
// import images
import { Image } from "astro:assets";

// Brands
import DiLogo from "../../../assets/images/products/brands/3di.webp";
import AbmedicaLogo from "../../../assets/images/products/brands/abmedica.webp";
import AlliumLogo from "../../../assets/images/products/brands/allium.webp";
import BdLogo from "../../../assets/images/products/brands/bd.webp";
import BostonLogo from "../../../assets/images/products/brands/boston-scientific.webp";
import DbiLogo from "../../../assets/images/products/brands/dbi.webp";
import DecomedLogo from "../../../assets/images/products/brands/decomed.webp";
import EdanLogo from "../../../assets/images/products/brands/edan.webp";
import GadaLogo from "../../../assets/images/products/brands/gada.webp";
import GetingeLogo from "../../../assets/images/products/brands/getinge.webp";
import HekaLogo from "../../../assets/images/products/brands/heka.webp";
import LamideyLogo from "../../../assets/images/products/brands/lamidey.webp";
import LinaLogo from "../../../assets/images/products/brands/lina-medical.webp";
import MarsLogo from "../../../assets/images/products/brands/mars.webp";
import MolnlyckeLogo from "../../../assets/images/products/brands/molnlycke.webp";
import NovaLogo from "../../../assets/images/products/brands/nova-biomedical.webp";
import PathfastLogo from "../../../assets/images/products/brands/pathfast.webp";
import PusenLogo from "../../../assets/images/products/brands/pusen.webp";
import ResorbaLogo from "../../../assets/images/products/brands/resorba.webp";
import TegeaLogo from "../../../assets/images/products/brands/tegea.webp";
import TeleflexLogo from "../../../assets/images/products/brands/teleflex.webp";
import TerumoLogo from "../../../assets/images/products/brands/terumo.webp";
import WelleadLogo from "../../../assets/images/products/brands/wellead.webp";
import WestmedLogo from "../../../assets/images/products/brands/westmed.webp";
// Icons
import AnesthesiaIcon from "../../../assets/images/products/icons/anesthesia.webp";
import CardiacSurgeyIcon from "../../../assets/images/products/icons/cardiac-surgey.webp";
import DermatologyIcon from "../../../assets/images/products/icons/dermatology.webp";
import EntIcon from "../../../assets/images/products/icons/ent.webp";
import GeneralSurgeyIcon from "../../../assets/images/products/icons/general-surgey.webp";
import GynecologyIcon from "../../../assets/images/products/icons/gynecology.webp";
import NephrologyIcon from "../../../assets/images/products/icons/nephrology.webp";
import NeuroSurgeyIcon from "../../../assets/images/products/icons/neuro-surgey.webp";
import OncologyIcon from "../../../assets/images/products/icons/oncology.webp";
import OrthopedicsIcon from "../../../assets/images/products/icons/orthopedics.png";
import PlasticSurgeyIcon from "../../../assets/images/products/icons/plastic-surgey.webp";
import PoctIcon from "../../../assets/images/products/icons/poct.webp";
import RadiologyIcon from "../../../assets/images/products/icons/radiology.webp";
import ToracicSurgeyIcon from "../../../assets/images/products/icons/toracic-surgey.webp";
import UrologyIcon from "../../../assets/images/products/icons/urology.webp";
import VascularSurgeytIcon from "../../../assets/images/products/icons/vascular-surgey.webp";

// urology logos
const urologyLogos = [
  { src: BdLogo, alt: 'BD Logo' },
  { src: AbmedicaLogo, alt: 'AB Medica Logo' },
  { src: PusenLogo, alt: 'Pusen Logo' },
  { src: AlliumLogo, alt: 'Allium Logo' },
  { src: LamideyLogo, alt: 'LAMIDEY Logo' },
  { src: WelleadLogo, alt: 'Wellead Logo' },
  { src: DbiLogo, alt: 'DBI Logo' },
  { src: TeleflexLogo, alt: 'Teleflex Logo' },
  { src: BostonLogo, alt: 'Boston Scientific Logo' },
  { src: TegeaLogo, alt: 'Tegea Logo' },
];

// general surgey logos
const generalSurgeyLogos = [
  { src: BdLogo, alt: 'BD Logo' },
  { src: AbmedicaLogo, alt: 'AB Medica Logo' },
  { src: MolnlyckeLogo, alt: 'Molnlycke Logo' },
  { src: TeleflexLogo, alt: 'Teleflex Logo' },
  { src: ResorbaLogo, alt: 'Resorba Logo' },
];

// neuro surgey logos
const neuroSurgeyLogos = [
  { src: BdLogo, alt: 'BD Logo' },
  { src: DiLogo, alt: '3Di Logo' },
  { src: MolnlyckeLogo, alt: 'Molnlycke Logo' },
];

// orthopedics logos
const orthopedicsLogos = [
  { src: BdLogo, alt: 'BD Logo' },
  { src: ResorbaLogo, alt: 'Resorba Logo' },
  { src: MolnlyckeLogo, alt: 'Molnlycke Logo' },
];

// gynecology logos
const gynecologyLogos = [
  { src: LinaLogo, alt: 'Lina Medical Logo' },
  { src: TeleflexLogo, alt: 'Teleflex Logo' },
  { src: AbmedicaLogo, alt: 'AB Medica Logo' },
  { src: MolnlyckeLogo, alt: 'Molnlycke Logo' },
  { src: LamideyLogo, alt: 'Lamidey Logo' },
  { src: DbiLogo, alt: 'Bdi Logo' },
  { src: TegeaLogo, alt: 'Tegea Logo' },
];

// anesthesiology logos
const anesthesiologyLogos = [
  { src: BdLogo, alt: 'BD Logo' },
  { src: HekaLogo, alt: 'Heka Logo' },
  { src: MolnlyckeLogo, alt: 'Molnlycke Logo' },
  { src: GadaLogo, alt: 'Gada Logo' },
  { src: WestmedLogo, alt: 'Westmed Logo' },
];

// poct logos
const poctLogos = [
  { src: NovaLogo, alt: 'Nova Biomedical Logo' },
  { src: EdanLogo, alt: 'Edan Logo' },
  { src: PathfastLogo, alt: 'Pathfast Logo' },
  { src: WestmedLogo, alt: 'Westmed Logo' },
];

// plastic surgey logos
const plasticSurgeyLogos = [
  { src: DecomedLogo, alt: 'Decomed Logo' },
  { src: MolnlyckeLogo, alt: 'Molnlycke Logo' },
  { src: ResorbaLogo, alt: 'Resorba Logo' },
  { src: BdLogo, alt: 'BD Logo' },
];

// vascular surgey logos
const vascularSurgeyLogos = [
  { src: ResorbaLogo, alt: 'Resorba Logo' },
  { src: MolnlyckeLogo, alt: 'Molnlycke Logo' },
];

// cardiac surgey logos
const cardiacSurgeyLogos = [
  { src: BdLogo, alt: 'BD Logo' },
  { src: ResorbaLogo, alt: 'Resorba Logo' },
  { src: MolnlyckeLogo, alt: 'Molnlycke Logo' },
  { src: TerumoLogo, alt: 'Terumo Logo' },
  { src: GetingeLogo, alt: 'Getinge Logo' },
];

// oncology logos
const oncologyLogos = [
  { src: BdLogo, alt: 'BD Logo' },
  { src: MolnlyckeLogo, alt: 'Molnlycke Logo' },
  { src: HekaLogo, alt: 'Heka Logo' },
];

// dermatology logos
const dermatologyLogos = [
  { src: ResorbaLogo, alt: 'Resorba Logo' },
  { src: MolnlyckeLogo, alt: 'Molnlycke Logo' },
];

// nephrology logos
const nephrologyLogos = [
  { src: MarsLogo, alt: 'Mars Logo' },
  { src: BdLogo, alt: 'BD Logo' },
  { src: GadaLogo, alt: 'Gada Logo' },
];

// toracic surgey logos
const toracicSurgeyLogos = [
  { src: ResorbaLogo, alt: 'Resorba Logo' },
  { src: BdLogo, alt: 'BD Logo' },
  { src: AbmedicaLogo, alt: 'AB Medica Logo' },
  { src: MolnlyckeLogo, alt: 'Molnlycke Logo' },
];

// ent logos
const entLogos = [
  { src: AbmedicaLogo, alt: 'AB Medica Logo' },
  { src: BdLogo, alt: 'BD Logo' },
  { src: MolnlyckeLogo, alt: 'Molnlycke Logo' },
];

// radiology logos
const radiologyLogos = [
  { src: BdLogo, alt: 'BD Logo' },
  { src: AlliumLogo, alt: 'Allium Logo' },
];
---

<Layout seoKey="products">
  <div class="sbm-section w-screen flex flex-col mt-[160px] text-midnight" id="products-wrapper">
    <div class="w-full px-4 py-8 md:px-0"> 
      <h1 class="text-5xl text-midnight text-center md:text-left">{tr("nav.products")}</h1>
      <p class="my-8 text-3xl text-center md:text-left" set:html={tr("products.description").replace(/\n/g, '<br>')} />
    </div>
    {/* --- Riga 1: Da Destra a Sinistra --- */}
    <div class="scroller mt-15 mb-5 w-full overflow-hidden group" data-direction="left">
      <div class="scroller__inner flex flex-nowrap w-max animate-scroll-left group-hover:paused">
         {/* Contenuto Originale */}
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={BdLogo} alt="BD Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={LinaLogo} alt="Lina Medical Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={ResorbaLogo} alt="Resorba Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={HekaLogo} alt="HEKA Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={LamideyLogo} alt="LAMIDEY Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={GetingeLogo} alt="GETINGE Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={DbiLogo} alt="DBI Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={GadaLogo} alt="GADA Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={EdanLogo} alt="EDAN Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={DiLogo} alt="3DI Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={AbmedicaLogo} alt="Abmedica Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={BostonLogo} alt="BOSTON SCIENTIFIC Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         {/* Contenuto Duplicato (per loop) */}
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={BdLogo} alt="BD Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={LinaLogo} alt="Lina Medical Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={ResorbaLogo} alt="Resorba Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={HekaLogo} alt="HEKA Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={LamideyLogo} alt="LAMIDEY Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={GetingeLogo} alt="GETINGE Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={DbiLogo} alt="DBI Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={GadaLogo} alt="GADA Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={EdanLogo} alt="EDAN Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={DiLogo} alt="3DI Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={AbmedicaLogo} alt="Abmedica Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={BostonLogo} alt="BOSTON SCIENTIFIC Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
      </div>
    </div>

    {/* --- Riga 2: Da Sinistra a Destra --- */}
     <div class="scroller mt-5 mb-15 w-full overflow-hidden group" data-direction="right">
      <div class="scroller__inner flex flex-nowrap w-max animate-scroll-right group-hover:paused">
         {/* Contenuto Originale */}
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={AlliumLogo} alt="ALLIUM Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={DecomedLogo} alt="DECOMED Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={MarsLogo} alt="MARS Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={MolnlyckeLogo} alt="MOLNLYCKE Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={NovaLogo} alt="NOVA MEDICAL Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={PathfastLogo} alt="PATHFAST Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={PusenLogo} alt="PUSEN Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={TegeaLogo} alt="TEGEA Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={TeleflexLogo} alt="TELEFLEX Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={TerumoLogo} alt="TERUMO Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={WelleadLogo} alt="WELLEAD Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={WestmedLogo} alt="WESTMED Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         {/* Contenuto Duplicato (per loop) */}
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={AlliumLogo} alt="ALLIUM Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={DecomedLogo} alt="DECOMED Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={MarsLogo} alt="MARS Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={MolnlyckeLogo} alt="MOLNLYCKE Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={NovaLogo} alt="NOVA MEDICAL Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={PathfastLogo} alt="PATHFAST Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={PusenLogo} alt="PUSEN Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={TegeaLogo} alt="TEGEA Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={TeleflexLogo} alt="TELEFLEX Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={TerumoLogo} alt="TERUMO Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={WelleadLogo} alt="WELLEAD Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={WestmedLogo} alt="WESTMED Logo" format="webp" quality={"mid"} loading="eager"/>
         </span>
      </div>
    </div>
    {/* Product Categories */}
    <div class="w-full my-15">
      {/* Urology Category */}      
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 uppercase text-[clamp(1rem,_10cqi,_3rem)] font-semibold 2xl:text-6xl">{tr("products.category.urology")}</h2>
				<Image src={UrologyIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt=`${tr("products.category.urology")} icon` format="webp" quality={"mid"} loading="eager"/>
			</div>
			<div class="sbm-products-content my-8 text-xl 2xl:text-3xl">
				<p set:html={tr("products.urologyText").replace(/\n/g, '<br>')} />
        <LogosGrid logos={urologyLogos} />
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* General Surgey Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 uppercase text-[clamp(1rem,_10cqi,_3rem)] font-semibold 2xl:text-6xl">{tr("products.category.general-surgey")}</h2>
				<Image src={GeneralSurgeyIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt=`${tr("products.category.general-surgey")} icon` format="webp" quality={"mid"} loading="eager"/>
			</div>
			<div class="sbm-products-content my-8 text-xl 2xl:text-3xl">
				<p set:html={tr("products.generalSurgeyText").replace(/\n/g, '<br>')} />
        <LogosGrid logos={generalSurgeyLogos} />
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Neuro Surgey Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 uppercase text-[clamp(1rem,_10cqi,_3rem)] font-semibold 2xl:text-6xl">{tr("products.category.neuro-surgey")}</h2>
				<Image src={NeuroSurgeyIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt=`${tr("products.category.neuro-surgey")} icon` format="webp" quality={"mid"} loading="lazy"/>
			</div>
			<div class="sbm-products-content my-8 text-xl 2xl:text-3xl">
        <p set:html={tr("products.neuroSurgeyText").replace(/\n/g, '<br>')} />
        <LogosGrid logos={neuroSurgeyLogos} />
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Orthopedics Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 uppercase text-[clamp(1rem,_10cqi,_3rem)] font-semibold 2xl:text-6xl">{tr("products.category.orthopedics")}</h2>
				<Image src={OrthopedicsIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt=`${tr("products.category.orthopedics")} icon` format="webp" quality={"mid"} loading="lazy"/>
			</div>
			<div class="sbm-products-content my-8 text-xl 2xl:text-3xl">
				<p set:html={tr("products.orthopedicsText").replace(/\n/g, '<br>')} />
        <LogosGrid logos={orthopedicsLogos} />
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Gynecology Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 uppercase text-[clamp(1rem,_10cqi,_3rem)] font-semibold 2xl:text-6xl">{tr("products.category.gynecology")}</h2>
				<Image src={GynecologyIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt=`${tr("products.category.gynecology")} icon` format="webp" quality={"mid"} loading="lazy"/>
			</div>
			<div class="sbm-products-content my-8 text-xl 2xl:text-3xl">
				<p set:html={tr("products.gynecologyText").replace(/\n/g, '<br>')} />
        <LogosGrid logos={gynecologyLogos} />
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Anesthesiology and Intensive Care Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 uppercase text-[clamp(1rem,_10cqi,_3rem)] font-semibold 2xl:text-6xl">{tr("products.category.anesthesiology")}</h2>
				<Image src={AnesthesiaIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt=`${tr("products.category.anesthesiology")} icon` format="webp" quality={"mid"} loading="lazy"/>
			</div>
			<div class="sbm-products-content my-8 text-xl 2xl:text-3xl">
				<p set:html={tr("products.anesthesiologyText").replace(/\n/g, '<br>')} />
        <LogosGrid logos={anesthesiologyLogos} />
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Poct Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 uppercase text-[clamp(1rem,_10cqi,_3rem)] font-semibold 2xl:text-6xl">{tr("products.category.poct")}</h2>
				<Image src={PoctIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt=`${tr("products.category.poct")} icon` format="webp" quality={"mid"} loading="lazy"/>
			</div>
			<div class="sbm-products-content my-8 text-xl 2xl:text-3xl">
				<p set:html={tr("products.poctText").replace(/\n/g, '<br>')} />
        <LogosGrid logos={poctLogos} />
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Plastic Surgey Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 uppercase text-[clamp(1rem,_10cqi,_3rem)] font-semibold 2xl:text-6xl">{tr("products.category.plastic-surgey")}</h2>
				<Image src={PlasticSurgeyIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt=`${tr("products.category.plastic-surgey")} icon` format="webp" quality={"mid"} loading="lazy"/>
			</div>
			<div class="sbm-products-content my-8 text-xl 2xl:text-3xl">
				<p set:html={tr("products.plasticSurgeyText").replace(/\n/g, '<br>')} />
        <LogosGrid logos={plasticSurgeyLogos} />
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Vascular Surgey Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 uppercase text-[clamp(1rem,_10cqi,_3rem)] font-semibold 2xl:text-6xl">{tr("products.category.vascular-surgey")}</h2>
				<Image src={VascularSurgeytIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt=`${tr("products.category.vascular-surgey")} icon` format="webp" quality={"mid"} loading="lazy"/>
			</div>
			<div class="sbm-products-content my-8 text-xl 2xl:text-3xl">
				<p set:html={tr("products.vascularSurgeyText").replace(/\n/g, '<br>')} />
        <LogosGrid logos={vascularSurgeyLogos} />
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Cardio Surgey Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 uppercase text-[clamp(1rem,_10cqi,_3rem)] font-semibold 2xl:text-6xl">{tr("products.category.cardiac-surgey")}</h2>
				<Image src={CardiacSurgeyIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt=`${tr("products.category.cardiac-surgey")} icon` format="webp" quality={"mid"} loading="lazy"/>
			</div>
			<div class="sbm-products-content my-8 text-xl 2xl:text-3xl">
				<p set:html={tr("products.cardiacSurgeyText").replace(/\n/g, '<br>')} />
        <LogosGrid logos={cardiacSurgeyLogos} />
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Oncology Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 uppercase text-[clamp(1rem,_10cqi,_3rem)] font-semibold 2xl:text-6xl">{tr("products.category.oncology")}</h2>
				<Image src={OncologyIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt=`${tr("products.category.oncology")} icon` format="webp" quality={"mid"} loading="lazy"/>
			</div>
			<div class="sbm-products-content my-8 text-xl 2xl:text-3xl">
				<p set:html={tr("products.oncologyText").replace(/\n/g, '<br>')} />
        <LogosGrid logos={oncologyLogos} />
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Dermatology Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 uppercase text-[clamp(1rem,_10cqi,_3rem)] font-semibold 2xl:text-6xl">{tr("products.category.dermatology")}</h2>
				<Image src={DermatologyIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt=`${tr("products.category.dermatology")} icon` format="webp" quality={"mid"} loading="lazy"/>
			</div>
			<div class="sbm-products-content my-8 text-xl 2xl:text-3xl">
				<p set:html={tr("products.dermatologyText").replace(/\n/g, '<br>')} />
        <LogosGrid logos={dermatologyLogos} />
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Nephrology Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 uppercase text-[clamp(1rem,_10cqi,_3rem)] font-semibold 2xl:text-6xl">{tr("products.category.nephrology")}</h2>
				<Image src={NephrologyIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt="Nephrology Icon" format="webp" quality={"mid"} loading="lazy"/>
			</div>
			<div class="sbm-products-content my-8 text-xl 2xl:text-3xl">
				<p set:html={tr("products.nephrologyText").replace(/\n/g, '<br>')} />
        <LogosGrid logos={nephrologyLogos} />
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Toracic Surgey Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 uppercase text-[clamp(1rem,_10cqi,_3rem)] font-semibold 2xl:text-6xl">{tr("products.category.toracic-surgey")}</h2>
				<Image src={ToracicSurgeyIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt="Toracic Surgey Icon" format="webp" quality={"mid"} loading="lazy"/>
			</div>
			<div class="sbm-products-content my-8 text-xl 2xl:text-3xl">
				<p set:html={tr("products.toracicSurgeyText").replace(/\n/g, '<br>')} />
        <LogosGrid logos={toracicSurgeyLogos} />
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Ent Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 uppercase text-[clamp(1rem,_10cqi,_3rem)] font-semibold 2xl:text-6xl">{tr("products.category.ent")}</h2>
				<Image src={EntIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt="Ent Icon" format="webp" quality={"mid"} loading="lazy"/>
			</div>
			<div class="sbm-products-content my-8 text-xl 2xl:text-3xl">
				<p set:html={tr("products.entText").replace(/\n/g, '<br>')} />
        <LogosGrid logos={entLogos} />
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Radiology Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 uppercase text-[clamp(1rem,_10cqi,_3rem)] font-semibold 2xl:text-6xl">{tr("products.category.radiology")}</h2>
				<Image src={RadiologyIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt="Radioilogy Icon" format="webp" quality={"mid"} loading="lazy"/>
			</div>
			<div class="sbm-products-content my-8 text-xl 2xl:text-3xl">
				<p set:html={tr("products.radiologyText").replace(/\n/g, '<br>')} />
        <LogosGrid logos={radiologyLogos} />
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
    </div>
    <Slogan />

  </div>

  <style>
    .group:hover .group-hover\:paused {
        animation-play-state: paused;
    }
  </style>
  <script>
    import { gsap } from "gsap";

    function initializeAccordion() {
    console.log("Initializing accordion...");

    const panels: NodeListOf<HTMLElement> = document.querySelectorAll(".sbm-products-panel");
    let openPanel: HTMLElement | null = null; // Resetta lo stato ad ogni inizializzazione

    if (!panels.length) {
      console.warn("No '.sbm-products-panel' elements found this time.");
      return;
    }
    if (typeof gsap === 'undefined') {
      console.error("GSAP not loaded.");
      return;
    }

    panels.forEach((panel) => {
      if ((panel as any)._accordionInitialized) {
          return;
      }

      const content = panel.nextElementSibling as HTMLElement | null;
      if (!content) {
        console.warn("Panel without content sibling:", panel);
        return;
      }

      gsap.set(content, { opacity: 0, height: 0, display: "none" });
      gsap.set(panel, { opacity: 1 });


      const handleClick = () => {
        const isCurrentlyOpen = (panel === openPanel);

        if (openPanel && openPanel !== panel) {
          const openContent = openPanel.nextElementSibling as HTMLElement | null;
          if (openContent) {
            gsap.to(openContent, {
              opacity: 0, height: 0, duration: 0.5, ease: "power1.in",
              onComplete: () => { gsap.set(openContent, { display: "none" }); }
            });
          }
          gsap.to(openPanel, { opacity: 1, duration: 0.3 });
        }

        // Apri/Chiudi pannello cliccato
        if (!isCurrentlyOpen) {
          gsap.set(content, { display: "block" });
          gsap.to(content, { opacity: 1, height: "auto", duration: 0.5, ease: "power1.out" });
          openPanel = panel;
          // Abbassa opacità altri pannelli
          panels.forEach((p) => {
            gsap.to(p, { opacity: (p === panel ? 1 : 0.5), duration: 0.3 });
          });
        } else {
          gsap.to(content, {
            opacity: 0, height: 0, duration: 0.5, ease: "power1.in",
            onComplete: () => { gsap.set(content, { display: "none" }); }
          });
          openPanel = null;
          // Ripristina opacità tutti i pannelli
          panels.forEach((p) => {
            gsap.to(p, { opacity: 1, duration: 0.3 });
          });
        }
      };

      panel.addEventListener('click', handleClick);
      (panel as any)._accordionInitialized = true;
    });
    }

    if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', initializeAccordion);
    } else {
    initializeAccordion(); 
    }

    document.addEventListener('astro:after-swap', initializeAccordion);

  </script>
</Layout>