---
import Layout from "../../../layouts/Layout.astro";
// import images
import { Image } from "astro:assets";
// Brands
import DiLogo from "../../../assets/images/products/brands/3di.webp";
import AbmedicaLogo from "../../../assets/images/products/brands/abmedica.webp";
import AlliumLogo from "../../../assets/images/products/brands/allium.webp";
import BdLogo from "../../../assets/images/products/brands/bd.webp";
import BostonLogo from "../../../assets/images/products/brands/boston-scientific.webp";
import DbiLogo from "../../../assets/images/products/brands/dbi.webp";
import DecomedLogo from "../../../assets/images/products/brands/decomed.webp";
import EdanLogo from "../../../assets/images/products/brands/edan.webp";
import GadaLogo from "../../../assets/images/products/brands/gada.webp";
import GetingeLogo from "../../../assets/images/products/brands/getinge.webp";
import HekaLogo from "../../../assets/images/products/brands/heka.webp";
import LamideyLogo from "../../../assets/images/products/brands/lamidey.webp";
import LinaLogo from "../../../assets/images/products/brands/lina-medical.webp";
import MarsLogo from "../../../assets/images/products/brands/mars.webp";
import MolnlyckeLogo from "../../../assets/images/products/brands/molnlycke.webp";
import NovaLogo from "../../../assets/images/products/brands/nova-biomedical.webp";
import PathfastLogo from "../../../assets/images/products/brands/pathfast.webp";
import PusenLogo from "../../../assets/images/products/brands/pusen.webp";
import ResorbaLogo from "../../../assets/images/products/brands/resorba.webp";
import TegaLogo from "../../../assets/images/products/brands/tegea.webp";
import TeleflexLogo from "../../../assets/images/products/brands/teleflex.webp";
import TerumoLogo from "../../../assets/images/products/brands/terumo.webp";
import WelleadLogo from "../../../assets/images/products/brands/wellead.webp";
import WestmedLogo from "../../../assets/images/products/brands/westmed.webp";
// Icons
import AnesthesiaIcon from "../../../assets/images/products/icons/anesthesia.webp";
import CardiacSurgeyIcon from "../../../assets/images/products/icons/cardiac-surgey.webp";
import DermatologyIcon from "../../../assets/images/products/icons/dermatology.webp";
import EntIcon from "../../../assets/images/products/icons/ent.webp";
import GeneralSurgeyIcon from "../../../assets/images/products/icons/general-surgey.webp";
import GynecologyIcon from "../../../assets/images/products/icons/gynecology.webp";
import NephrologyIcon from "../../../assets/images/products/icons/nephrology.webp";
import NeuroSurgeyIcon from "../../../assets/images/products/icons/neuro-surgey.webp";
import OncologyIcon from "../../../assets/images/products/icons/oncology.webp";
import OrthopedicsIcon from "../../../assets/images/products/icons/orthopedics.png";
import PlasticSurgeyIcon from "../../../assets/images/products/icons/plastic-surgey.webp";
import PoctIcon from "../../../assets/images/products/icons/poct.webp";
import RadiologyIcon from "../../../assets/images/products/icons/radiology.webp";
import ToracicSurgeyIcon from "../../../assets/images/products/icons/toracic-surgey.webp";
import UrologyIcon from "../../../assets/images/products/icons/urology.webp";
import VascularSurgeytIcon from "../../../assets/images/products/icons/vascular-surgey.webp";
---

<Layout title="SBM - our products">
  <div class="sbm-section w-screen flex flex-col mt-[160px] text-midnight" id="products-wrapper">
    <div class="w-full px-4 py-8 md:px-0"> 
      <h1 class="text-5xl text-midnight text-center md:text-left">Products</h1>
      <p class="mt-8 mb-1 text-3xl text-center md:text-left">
        Discover the high-quality brands we offer and the diverse range of products for the healthcare sector.
      </p>
      <p class="mb-8 text-3xl text-center md:text-left">
        Explore innovative solutions with us to meet every professional need, supporting health.
      </p>
    </div>
    {/* --- Riga 1: Da Destra a Sinistra --- */}
    <div class="scroller mt-15 mb-5 w-full overflow-hidden group" data-direction="left">
      {/* Aggiunto group per eventuale pausa su hover con Tailwind */}
      <div class="scroller__inner flex flex-nowrap w-max animate-scroll-left group-hover:paused">
         {/* Contenuto Originale */}
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={BdLogo} alt="BD Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={LinaLogo} alt="Lina Medical Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={ResorbaLogo} alt="Resorba Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={HekaLogo} alt="HEKA Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={LamideyLogo} alt="LAMIDEY Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={GetingeLogo} alt="GETINGE Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={DbiLogo} alt="DBI Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={GadaLogo} alt="GADA Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={EdanLogo} alt="EDAN Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={DiLogo} alt="3DI Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={AbmedicaLogo} alt="Abmedica Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={BostonLogo} alt="BOSTON SCIENTIFIC Logo" format="webp" quality={"mid"}/>
         </span>
         {/* Contenuto Duplicato (per loop) */}
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={BdLogo} alt="BD Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={LinaLogo} alt="Lina Medical Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={ResorbaLogo} alt="Resorba Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={HekaLogo} alt="HEKA Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={LamideyLogo} alt="LAMIDEY Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={GetingeLogo} alt="GETINGE Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={DbiLogo} alt="DBI Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={GadaLogo} alt="GADA Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={EdanLogo} alt="EDAN Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={DiLogo} alt="3DI Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={AbmedicaLogo} alt="Abmedica Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={BostonLogo} alt="BOSTON SCIENTIFIC Logo" format="webp" quality={"mid"}/>
         </span>
      </div>
    </div>

    {/* --- Riga 2: Da Sinistra a Destra --- */}
     <div class="scroller mt-5 mb-15 w-full overflow-hidden group" data-direction="right">
      <div class="scroller__inner flex flex-nowrap w-max animate-scroll-right group-hover:paused">
         {/* Contenuto Originale */}
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={AlliumLogo} alt="ALLIUM Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={DecomedLogo} alt="DECOMED Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={MarsLogo} alt="MARS Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={MolnlyckeLogo} alt="MOLNLYCKE Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={NovaLogo} alt="NOVA MEDICAL Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={PathfastLogo} alt="PATHFAST Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={PusenLogo} alt="PUSEN Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={TegaLogo} alt="TEGEA Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={TeleflexLogo} alt="TELEFLEX Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={TerumoLogo} alt="TERUMO Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={WelleadLogo} alt="WELLEAD Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={WestmedLogo} alt="WESTMED Logo" format="webp" quality={"mid"}/>
         </span>
         {/* Contenuto Duplicato (per loop) */}
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={AlliumLogo} alt="ALLIUM Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={DecomedLogo} alt="DECOMED Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={MarsLogo} alt="MARS Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={MolnlyckeLogo} alt="MOLNLYCKE Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={NovaLogo} alt="NOVA MEDICAL Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={PathfastLogo} alt="PATHFAST Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={PusenLogo} alt="PUSEN Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={TegaLogo} alt="TEGEA Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={TeleflexLogo} alt="TELEFLEX Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={TerumoLogo} alt="TERUMO Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={WelleadLogo} alt="WELLEAD Logo" format="webp" quality={"mid"}/>
         </span>
         <span class="min-w-[120px] h-[58px] inline-flex items-center justify-center mx-2">
          <Image src={WestmedLogo} alt="WESTMED Logo" format="webp" quality={"mid"}/>
         </span>
      </div>
    </div>
    {/* Product Categories */}
    <div class="w-full my-15">
      {/* Urology Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 text-[clamp(1rem,_10cqi,_3rem)] font-bold 2xl:text-6xl">UROLOGY</h2>
				<Image src={UrologyIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt="Urology Icon" format="webp" quality={"mid"}/>
			</div>
			<div class="sbm-products-content my-8 text-[clamp(1rem,_10cqi,_3rem)] 2xl:text-3xl">
				<p>SBM seleziona e distribuisce tecnologie avanzate per l'urologia, fornendo soluzioni efficaci e all'avanguardia per la diagnosi e il trattamento delle patologie urologiche.
          In collaborazione con brand leader a livello internazionale, proponiamo dispositivi e strumenti innovativi, pensati per rispondere alle necessità specifiche di specialisti e pazienti, con una garanzia costante di qualità, performance e sicurezza.
				</p>
				<ul>
					<li>Dispositivi reparto sala chirurgica.pdf</li>
					<div class="sbm-products-line"></div>
					<li>BD_prodotti_manuale d'uso.pdf</li>
				</ul>
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* General Surgey Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 text-[clamp(1rem,_10cqi,_3rem)] font-bold 2xl:text-6xl">GENERAL SURGEY</h2>
				<Image src={GeneralSurgeyIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt="General Surgey Icon" format="webp" quality={"mid"}/>
			</div>
			<div class="sbm-products-content my-8 text-[clamp(1rem,_10cqi,_3rem)] 2xl:text-3xl">
				<p>SBM seleziona e distribuisce tecnologie avanzate per l'urologia, fornendo soluzioni efficaci e all'avanguardia per la diagnosi e il trattamento delle patologie urologiche.
          In collaborazione con brand leader a livello internazionale, proponiamo dispositivi e strumenti innovativi, pensati per rispondere alle necessità specifiche di specialisti e pazienti, con una garanzia costante di qualità, performance e sicurezza.
				</p>
				<ul>
					<li>Dispositivi reparto sala chirurgica.pdf</li>
					<div class="sbm-products-line"></div>
					<li>BD_prodotti_manuale d'uso.pdf</li>
				</ul>
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Neuro Surgey Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 text-[clamp(1rem,_10cqi,_3rem)] font-bold 2xl:text-6xl">NEURO SURGEY</h2>
				<Image src={NeuroSurgeyIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt="Neuro Surgey Icon" format="webp" quality={"mid"}/>
			</div>
			<div class="sbm-products-content my-8 text-[clamp(1rem,_10cqi,_3rem)] 2xl:text-3xl">
				<p>SBM seleziona e distribuisce tecnologie avanzate per l'urologia, fornendo soluzioni efficaci e all'avanguardia per la diagnosi e il trattamento delle patologie urologiche.
          In collaborazione con brand leader a livello internazionale, proponiamo dispositivi e strumenti innovativi, pensati per rispondere alle necessità specifiche di specialisti e pazienti, con una garanzia costante di qualità, performance e sicurezza.
				</p>
				<ul>
					<li>Dispositivi reparto sala chirurgica.pdf</li>
					<div class="sbm-products-line"></div>
					<li>BD_prodotti_manuale d'uso.pdf</li>
				</ul>
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Orthopedics Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 text-[clamp(1rem,_10cqi,_3rem)] font-bold 2xl:text-6xl">ORTHOPEDICS</h2>
				<Image src={OrthopedicsIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt="Orthopedics Icon" format="webp" quality={"mid"}/>
			</div>
			<div class="sbm-products-content my-8 text-[clamp(1rem,_10cqi,_3rem)] 2xl:text-3xl">
				<p>SBM seleziona e distribuisce tecnologie avanzate per l'urologia, fornendo soluzioni efficaci e all'avanguardia per la diagnosi e il trattamento delle patologie urologiche.
          In collaborazione con brand leader a livello internazionale, proponiamo dispositivi e strumenti innovativi, pensati per rispondere alle necessità specifiche di specialisti e pazienti, con una garanzia costante di qualità, performance e sicurezza.
				</p>
				<ul>
					<li>Dispositivi reparto sala chirurgica.pdf</li>
					<div class="sbm-products-line"></div>
					<li>BD_prodotti_manuale d'uso.pdf</li>
				</ul>
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Gynecology Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 text-[clamp(1rem,_10cqi,_3rem)] font-bold 2xl:text-6xl">GYNECOLOGY</h2>
				<Image src={GynecologyIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt="Gynecology Icon" format="webp" quality={"mid"}/>
			</div>
			<div class="sbm-products-content my-8 text-[clamp(1rem,_10cqi,_3rem)] 2xl:text-3xl">
				<p>SBM seleziona e distribuisce tecnologie avanzate per l'urologia, fornendo soluzioni efficaci e all'avanguardia per la diagnosi e il trattamento delle patologie urologiche.
          In collaborazione con brand leader a livello internazionale, proponiamo dispositivi e strumenti innovativi, pensati per rispondere alle necessità specifiche di specialisti e pazienti, con una garanzia costante di qualità, performance e sicurezza.
				</p>
				<ul>
					<li>Dispositivi reparto sala chirurgica.pdf</li>
					<div class="sbm-products-line"></div>
					<li>BD_prodotti_manuale d'uso.pdf</li>
				</ul>
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Anesthesiology and Intensive Care Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 text-[clamp(1rem,_10cqi,_3rem)] font-bold 2xl:text-6xl">ANESTHESIOLOGY AND INTENSIVE CARE</h2>
				<Image src={AnesthesiaIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt="Anesthesiology and Intensive Care Icon" format="webp" quality={"mid"}/>
			</div>
			<div class="sbm-products-content my-8 text-[clamp(1rem,_10cqi,_3rem)] 2xl:text-3xl">
				<p>SBM seleziona e distribuisce tecnologie avanzate per l'urologia, fornendo soluzioni efficaci e all'avanguardia per la diagnosi e il trattamento delle patologie urologiche.
          In collaborazione con brand leader a livello internazionale, proponiamo dispositivi e strumenti innovativi, pensati per rispondere alle necessità specifiche di specialisti e pazienti, con una garanzia costante di qualità, performance e sicurezza.
				</p>
				<ul>
					<li>Dispositivi reparto sala chirurgica.pdf</li>
					<div class="sbm-products-line"></div>
					<li>BD_prodotti_manuale d'uso.pdf</li>
				</ul>
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Poct Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 text-[clamp(1rem,_10cqi,_3rem)] font-bold 2xl:text-6xl">POCT</h2>
				<Image src={PoctIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt="Poct Icon" format="webp" quality={"mid"}/>
			</div>
			<div class="sbm-products-content my-8 text-[clamp(1rem,_10cqi,_3rem)] 2xl:text-3xl">
				<p>SBM seleziona e distribuisce tecnologie avanzate per l'urologia, fornendo soluzioni efficaci e all'avanguardia per la diagnosi e il trattamento delle patologie urologiche.
          In collaborazione con brand leader a livello internazionale, proponiamo dispositivi e strumenti innovativi, pensati per rispondere alle necessità specifiche di specialisti e pazienti, con una garanzia costante di qualità, performance e sicurezza.
				</p>
				<ul>
					<li>Dispositivi reparto sala chirurgica.pdf</li>
					<div class="sbm-products-line"></div>
					<li>BD_prodotti_manuale d'uso.pdf</li>
				</ul>
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Plastic Surgey Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 text-[clamp(1rem,_10cqi,_3rem)] font-bold 2xl:text-6xl">PLASTIC SURGEY</h2>
				<Image src={PlasticSurgeyIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt="PLastic Surgey Icon" format="webp" quality={"mid"}/>
			</div>
			<div class="sbm-products-content my-8 text-[clamp(1rem,_10cqi,_3rem)] 2xl:text-3xl">
				<p>SBM seleziona e distribuisce tecnologie avanzate per l'urologia, fornendo soluzioni efficaci e all'avanguardia per la diagnosi e il trattamento delle patologie urologiche.
          In collaborazione con brand leader a livello internazionale, proponiamo dispositivi e strumenti innovativi, pensati per rispondere alle necessità specifiche di specialisti e pazienti, con una garanzia costante di qualità, performance e sicurezza.
				</p>
				<ul>
					<li>Dispositivi reparto sala chirurgica.pdf</li>
					<div class="sbm-products-line"></div>
					<li>BD_prodotti_manuale d'uso.pdf</li>
				</ul>
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Vascular Surgey Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 text-[clamp(1rem,_10cqi,_3rem)] font-bold 2xl:text-6xl">VASCULAR SURGEY</h2>
				<Image src={VascularSurgeytIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt="Vascular Surgey Icon" format="webp" quality={"mid"}/>
			</div>
			<div class="sbm-products-content my-8 text-[clamp(1rem,_10cqi,_3rem)] 2xl:text-3xl">
				<p>SBM seleziona e distribuisce tecnologie avanzate per l'urologia, fornendo soluzioni efficaci e all'avanguardia per la diagnosi e il trattamento delle patologie urologiche.
          In collaborazione con brand leader a livello internazionale, proponiamo dispositivi e strumenti innovativi, pensati per rispondere alle necessità specifiche di specialisti e pazienti, con una garanzia costante di qualità, performance e sicurezza.
				</p>
				<ul>
					<li>Dispositivi reparto sala chirurgica.pdf</li>
					<div class="sbm-products-line"></div>
					<li>BD_prodotti_manuale d'uso.pdf</li>
				</ul>
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Cardio Surgey Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 text-[clamp(1rem,_10cqi,_3rem)] font-bold 2xl:text-6xl">CARDIO SURGEY</h2>
				<Image src={CardiacSurgeyIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt="Cardio Surgey Icon" format="webp" quality={"mid"}/>
			</div>
			<div class="sbm-products-content my-8 text-[clamp(1rem,_10cqi,_3rem)] 2xl:text-3xl">
				<p>SBM seleziona e distribuisce tecnologie avanzate per l'urologia, fornendo soluzioni efficaci e all'avanguardia per la diagnosi e il trattamento delle patologie urologiche.
          In collaborazione con brand leader a livello internazionale, proponiamo dispositivi e strumenti innovativi, pensati per rispondere alle necessità specifiche di specialisti e pazienti, con una garanzia costante di qualità, performance e sicurezza.
				</p>
				<ul>
					<li>Dispositivi reparto sala chirurgica.pdf</li>
					<div class="sbm-products-line"></div>
					<li>BD_prodotti_manuale d'uso.pdf</li>
				</ul>
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Oncology Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 text-[clamp(1rem,_10cqi,_3rem)] font-bold 2xl:text-6xl">ONCOLOGY</h2>
				<Image src={OncologyIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt="Oncology Icon" format="webp" quality={"mid"}/>
			</div>
			<div class="sbm-products-content my-8 text-[clamp(1rem,_10cqi,_3rem)] 2xl:text-3xl">
				<p>SBM seleziona e distribuisce tecnologie avanzate per l'urologia, fornendo soluzioni efficaci e all'avanguardia per la diagnosi e il trattamento delle patologie urologiche.
          In collaborazione con brand leader a livello internazionale, proponiamo dispositivi e strumenti innovativi, pensati per rispondere alle necessità specifiche di specialisti e pazienti, con una garanzia costante di qualità, performance e sicurezza.
				</p>
				<ul>
					<li>Dispositivi reparto sala chirurgica.pdf</li>
					<div class="sbm-products-line"></div>
					<li>BD_prodotti_manuale d'uso.pdf</li>
				</ul>
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Dermatology Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 text-[clamp(1rem,_10cqi,_3rem)] font-bold 2xl:text-6xl">DERMATOLOGY</h2>
				<Image src={DermatologyIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt="Dermatology Icon" format="webp" quality={"mid"}/>
			</div>
			<div class="sbm-products-content my-8 text-[clamp(1rem,_10cqi,_3rem)] 2xl:text-3xl">
				<p>SBM seleziona e distribuisce tecnologie avanzate per l'urologia, fornendo soluzioni efficaci e all'avanguardia per la diagnosi e il trattamento delle patologie urologiche.
          In collaborazione con brand leader a livello internazionale, proponiamo dispositivi e strumenti innovativi, pensati per rispondere alle necessità specifiche di specialisti e pazienti, con una garanzia costante di qualità, performance e sicurezza.
				</p>
				<ul>
					<li>Dispositivi reparto sala chirurgica.pdf</li>
					<div class="sbm-products-line"></div>
					<li>BD_prodotti_manuale d'uso.pdf</li>
				</ul>
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Nephrology Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 text-[clamp(1rem,_10cqi,_3rem)] font-bold 2xl:text-6xl">NEPHROLOGY</h2>
				<Image src={NephrologyIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt="Nephrology Icon" format="webp" quality={"mid"}/>
			</div>
			<div class="sbm-products-content my-8 text-[clamp(1rem,_10cqi,_3rem)] 2xl:text-3xl">
				<p>SBM seleziona e distribuisce tecnologie avanzate per l'urologia, fornendo soluzioni efficaci e all'avanguardia per la diagnosi e il trattamento delle patologie urologiche.
          In collaborazione con brand leader a livello internazionale, proponiamo dispositivi e strumenti innovativi, pensati per rispondere alle necessità specifiche di specialisti e pazienti, con una garanzia costante di qualità, performance e sicurezza.
				</p>
				<ul>
					<li>Dispositivi reparto sala chirurgica.pdf</li>
					<div class="sbm-products-line"></div>
					<li>BD_prodotti_manuale d'uso.pdf</li>
				</ul>
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Toracic Surgey Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 text-[clamp(1rem,_10cqi,_3rem)] font-bold 2xl:text-6xl">TORACIC SURGEY</h2>
				<Image src={ToracicSurgeyIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt="Toracic Surgey Icon" format="webp" quality={"mid"}/>
			</div>
			<div class="sbm-products-content my-8 text-[clamp(1rem,_10cqi,_3rem)] 2xl:text-3xl">
				<p>SBM seleziona e distribuisce tecnologie avanzate per l'urologia, fornendo soluzioni efficaci e all'avanguardia per la diagnosi e il trattamento delle patologie urologiche.
          In collaborazione con brand leader a livello internazionale, proponiamo dispositivi e strumenti innovativi, pensati per rispondere alle necessità specifiche di specialisti e pazienti, con una garanzia costante di qualità, performance e sicurezza.
				</p>
				<ul>
					<li>Dispositivi reparto sala chirurgica.pdf</li>
					<div class="sbm-products-line"></div>
					<li>BD_prodotti_manuale d'uso.pdf</li>
				</ul>
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Ent Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 text-[clamp(1rem,_10cqi,_3rem)] font-bold 2xl:text-6xl">ENT</h2>
				<Image src={EntIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt="Ent Icon" format="webp" quality={"mid"}/>
			</div>
			<div class="sbm-products-content my-8 text-[clamp(1rem,_10cqi,_3rem)] 2xl:text-3xl">
				<p>SBM seleziona e distribuisce tecnologie avanzate per l'urologia, fornendo soluzioni efficaci e all'avanguardia per la diagnosi e il trattamento delle patologie urologiche.
          In collaborazione con brand leader a livello internazionale, proponiamo dispositivi e strumenti innovativi, pensati per rispondere alle necessità specifiche di specialisti e pazienti, con una garanzia costante di qualità, performance e sicurezza.
				</p>
				<ul>
					<li>Dispositivi reparto sala chirurgica.pdf</li>
					<div class="sbm-products-line"></div>
					<li>BD_prodotti_manuale d'uso.pdf</li>
				</ul>
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
      {/* Radiology Category */}
      <div class="@container sbm-products-panel flex items-center justify-between cursor-pointer">
				<h2 class="flex-1 min-w-0 text-[clamp(1rem,_10cqi,_3rem)] font-bold 2xl:text-6xl">RADIOLOGY</h2>
				<Image src={RadiologyIcon} class="flex-shrink-0 w-[60px] h-[60px]" alt="Radioilogy Icon" format="webp" quality={"mid"}/>
			</div>
			<div class="sbm-products-content my-8 text-[clamp(1rem,_10cqi,_3rem)] 2xl:text-3xl">
				<p>SBM seleziona e distribuisce tecnologie avanzate per l'urologia, fornendo soluzioni efficaci e all'avanguardia per la diagnosi e il trattamento delle patologie urologiche.
          In collaborazione con brand leader a livello internazionale, proponiamo dispositivi e strumenti innovativi, pensati per rispondere alle necessità specifiche di specialisti e pazienti, con una garanzia costante di qualità, performance e sicurezza.
				</p>
				<ul>
					<li>Dispositivi reparto sala chirurgica.pdf</li>
					<div class="sbm-products-line"></div>
					<li>BD_prodotti_manuale d'uso.pdf</li>
				</ul>
			</div>
      <hr class="bg-midnight mx-auto my-[15px] 2xl:my-[30px] w-[calc(100%-2px)] h-[2px]" />
    </div>

  </div>

  <style>
    .group:hover .group-hover\:paused {
        animation-play-state: paused;
    }
  </style>
  <script>
    import { gsap } from "gsap";

    function initializeAccordion() {
    console.log("Initializing accordion...");

    const panels: NodeListOf<HTMLElement> = document.querySelectorAll(".sbm-products-panel");
    let openPanel: HTMLElement | null = null; // Resetta lo stato ad ogni inizializzazione

    if (!panels.length) {
      console.warn("No '.sbm-products-panel' elements found this time.");
      return;
    }
    if (typeof gsap === 'undefined') {
      console.error("GSAP not loaded.");
      return;
    }

    panels.forEach((panel) => {
      if ((panel as any)._accordionInitialized) {
          return;
      }

      const content = panel.nextElementSibling as HTMLElement | null;
      if (!content) {
        console.warn("Panel without content sibling:", panel);
        return;
      }

      gsap.set(content, { opacity: 0, height: 0, display: "none" });
      gsap.set(panel, { opacity: 1 });


      const handleClick = () => {
        const isCurrentlyOpen = (panel === openPanel);

        if (openPanel && openPanel !== panel) {
          const openContent = openPanel.nextElementSibling as HTMLElement | null;
          if (openContent) {
            gsap.to(openContent, {
              opacity: 0, height: 0, duration: 0.5, ease: "power1.in",
              onComplete: () => { gsap.set(openContent, { display: "none" }); }
            });
          }
          gsap.to(openPanel, { opacity: 1, duration: 0.3 });
        }

        // Apri/Chiudi pannello cliccato
        if (!isCurrentlyOpen) {
          gsap.set(content, { display: "block" });
          gsap.to(content, { opacity: 1, height: "auto", duration: 0.5, ease: "power1.out" });
          openPanel = panel;
          // Abbassa opacità altri pannelli
          panels.forEach((p) => {
            gsap.to(p, { opacity: (p === panel ? 1 : 0.5), duration: 0.3 });
          });
        } else {
          gsap.to(content, {
            opacity: 0, height: 0, duration: 0.5, ease: "power1.in",
            onComplete: () => { gsap.set(content, { display: "none" }); }
          });
          openPanel = null;
          // Ripristina opacità tutti i pannelli
          panels.forEach((p) => {
            gsap.to(p, { opacity: 1, duration: 0.3 });
          });
        }
      };

      panel.addEventListener('click', handleClick);
      (panel as any)._accordionInitialized = true;
    });
    }

    if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', initializeAccordion);
    } else {
    initializeAccordion(); 
    }

    document.addEventListener('astro:after-swap', initializeAccordion);

  </script>
</Layout>