---
// Import utils components
import AdvancedImage from "../../components/utils/AdvancedImage.astro";
import SecondaryMenu from "../../components/utils/SecondaryMenu.astro";
// import images
import { Image } from "astro:assets";
import SbmLogoWhite from "../../assets/images/logo-white.webp";
import Dnv9001 from "../../assets/images/9001_14001.webp";
import Dnv13485 from "../../assets/images/13485.webp";
import FooterTop from "../../assets/images/footer-top.webp";
// import language files
import { useTranslations } from "../../i18n/utils.ts";
import { languages } from "../../i18n/ui.ts";

const currentLang = Astro.currentLocale || "it";
const tr = useTranslations(currentLang as keyof typeof languages);
---

<div id="footer-top"  class="z-99 flex w-full justify-items-start -my-[1px] h-[86px] border-0">
  <Image
    src={FooterTop}
    alt="Footer top"
    format="avif"
    quality={"mid"}
    height="86"
  />
</div>
<footer class="z-99 flex flex-col gap-8 bg-midnight pt-24 pb-8 w-full text-white text-sm md:text-base border-0">
  <div class="flex flex-wrap gap-4 justify-center px-8 md:px-12 lg:px-47">
    <div id="sbm-logo-footer" class="flex flex-col justify-start items-center min-w-[350px]">
      <Image
        src={SbmLogoWhite}
        alt="Hero sbm"
        format="avif"
        quality={"mid"}
        height="60"
      />
      <hr class="bg-white mx-auto my-[15px] w-[70px] h-[1px]" />
      <p class="my-[20px] text-center leading-6">
        © Copyright 2025 <br />
        · All rights reserved ·<br />
      </p>
      <p class="my-[20px] text-center leading-6">
        <strong>SBM s.r.l.</strong><br />
        {tr("company.address")}<br />
        {tr("company.vat")}<br />
        {tr("company.reg")}<br />
        <br />
      </p>
    </div>
    <div id="sbm-contact-footer" class="flex flex-col justify-start items-center min-w-[350px]">
      <div class="flex flex-col m-0 p-0 justify-center h-[60px] text-2xl">
        {tr("nav.contacts")}
      </div>
      <hr class="bg-white mx-auto my-[15px] w-[70px] h-[1px]" />

      <div class="flex flex-col my-[20px] text-center leading-6">
        <div class="flex flex-col mb-[20px] text-center leading-6">
          <strong>{tr("company.office")}</strong>
        </div>
        <div>
          <strong>Tel. </strong>
          +39 0832.362995
        </div>
        <div>
          <strong>Fax. </strong>
          +39 0832.366084
        </div>
        info@sbmsrl.it
      </div>
    </div>
    <SecondaryMenu />
    <div class="flex flex-col justify-start items-center min-w-[350px] text-white">
      <div class="flex flex-col m-0 p-0 justify-center h-[60px] text-2xl">
        {tr("cert")}
      </div>
      <hr class="bg-white mx-auto my-[15px] w-[70px] h-[1px]" />
      <div id="sbm-cert" class="flex justify-around my-[40px] flex-1 xl:flex-none items-center min-w-[350px] text-white">
        <a href="/certificates/ISO-9001-CERT-16292-2005-AQ-BRI-SINCERT-3-it-IT-20230630-20230630171106.pdf" target="_blank" rel="noopener noreferrer">
          <AdvancedImage
            src={Dnv9001}
            alt="Certificazione ISO 9001"
            filterClass="white-image"
            format="avif"
            quality={"mid"}
            width="100"
          />
        </a>
        <a href="/certificates/DNV_Certificate_13485-20221010-20221012111419.pdf" target="_blank" rel="noopener noreferrer">
          <AdvancedImage
            src={Dnv13485}
            alt="Certificazione ISO 13485"
            filterClass="white-image"
            format="avif"
            quality={"mid"}
            width="100"
          />
        </a>
        <a href="/certificates/ISO-14001-243666-2017-AE-ITA-ACCREDIA-3-it-IT-20230714-20230714125844.pdf" target="_blank" rel="noopener noreferrer">
          <AdvancedImage
            src={Dnv9001}
            alt="Certificazione ISO 14001"
            filterClass="white-image"
            format="avif"
            quality={"mid"}
            width="100"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-center px-4 text-xs">
    <div id="sbm-credits" class="flex flex-1 justify-center items-center min-w-[350px]">
      CREDITS · <a href={`/${currentLang}/privacy-policy/`} class="hover:underline">PRIVACY POLICY</a>
    </div>
  </div>
</footer>
